{% extends 'layout.html' %}

{% load static %}
{% load avatar badges %}

{% block page_title %}
  {% if user.full_name %}
    {{ user.full_name }}'s
  {% else %}
    Your
  {% endif %}
  Profile
{% endblock %}

{% block header %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="container">
      <div class="row col-md-10 mx-auto">
        <div class="col-auto my-auto">
          {% avatar %}
        </div>
        <div class="col">
          <h2>
            {% if user.full_name %}
              {{ user.full_name }}
            {% else %}
              <a href="{% url 'bid_main:profile' %}">Name missing. Complete your profile</a>
            {% endif %}
          </h2>
          <p><strong>Username:</strong> "{{ user.nickname }}"</p>
          {% if user.email_change_preconfirm %}
            <p class="bg-warning p-1">
              A change from {{ user.email }} to {{ user.email_change_preconfirm }} is pending.<br/><a
              href="javascript:$('#cancel_email_change').submit()">Cancel this change</a> or <a
              href="{% url 'bid_main:confirm-email-change' %}">re-send confirmation email</a>.
            </p>
          {% else %}
            <p><strong>Email: </strong>{{ user.email }}</p>
          {% endif %}
          {% if show_confirm_address %}
            <p class="bg-warning p-1">
              <a href="{% url 'bid_main:confirm-email' %}">Confirm your email address</a> to unleash the full power of
              KDE Accounts.
            </p>
          {% endif %}
          {% if user.public_profile %}
            <a href="{% url 'bid_main:public-profile' user.nickname %}">Public profile</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <section>
    <h2>Actions</h2>

    <div class="actions">
      <a class="btn btn-secondary mt-2" href="{% url 'bid_main:password_change' %}">Change Password</a>
      <a class="btn btn-secondary mt-2" href="{% url 'bid_main:profile' %}">Edit profile</a>
      {% if 'developers' not in user.roles %}
      <a class="btn btn-secondary mt-2" href="{% url 'bid_main:developer-access-request' %}">Request developer
        access</a>
      {% endif %}
      <a class="btn btn-secondary mt-2" href="{% url 'two_factor:profile' %}">
        Two-Factor Authentication Configuration
      </a>
    </div>

    {% if developer_access_requests|length > 0 %}
      <h2>Developer requests to accept or deny</h2>
      <ul>
        {% for dev_request in developer_access_requests %}
          <li>
            <a href="{% url 'bid_main:developer-access-request-verification' pk=dev_request.pk %}">
              {{ dev_request.user.full_name }}
            </a>
            <span class="float-right">{{ dev_request.sponsor_choice }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form id="cancel_email_change" action="{% url 'bid_main:cancel-email-change' %}"
          method="POST">{% csrf_token %}</form>
  </section>

  <section class="mt-3">
    <h3>Your Badges</h3>
    {% with badges=user.all_badges %}
      {% if badges %}
        <ul class="badges">
          {% for badge in badges %}
            {% render_badge badge %}
          {% endfor %}
        </ul>
        <p>
          You have earned {{ badges|length }} badge{{ badges|pluralize }}. If you do not want to show
          those badges on connected websites, you can mark them as private.
        </p>
      {% else %}
        <p>
          You don't have any badges. You can earn badges in various ways, for example by (tbd.)
        </p>
      {% endif %}
    {% endwith %}
  </section>

  {% comment %}
  <section class="mt-3">
    <h3>Your KDE Services</h3>
    {% if apps %}
      <p>
        You have granted the following applications access to your KDE Accounts; in other
        words, you used your KDE Accounts to log in there. Click on the cross to remove
        all authentication tokens for those apps, effectively logging you out there.
      </p>
    {% else %}
      <p>
        You have not granted any KDE services access to your KDE Accounts; in other words,
        you have not used your KDE Accounts to log in anywhere yet. When you do, this is
        the place where you will be able to revoke that access from those applications.
      </p>
    {% endif %}
    <form id="revokeform" method="post" action="">
      {% csrf_token %}
      {{ form.app_id }}
      {{ form.errors }}
    </form>
    <ul>
      {% for app in apps %}
        <li>
          <div class="app-info">
            {{ app }}
            {% if app.url %}<a class="app-url" href="{{ app.url }}" target="_blank">{{ app.url }}</a>{% endif %}
          </div>
          <a class="app-revoke" title="Remove {{ app }} authentication token" href="javascript:revoke({{ app.id }})">Revoke
            Access</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endcomment %}
{% endblock %}

{% block footer_scripts %}
  <script src="{% static 'assets_vendor/js/toastr.min.js' %}"></script>
  <script src="{% static 'assets_vendor/js/bootstrap-toggle.min.js' %}"></script>
  <script src="{% static 'assets_vendor/js/js.cookie.min.js' %}"></script>
  <script src="{% static 'assets/js/notifications.min.js' %}"></script>
  <script>
  function toggle_badge_privacy(event) {
    let badge_name = event.target.dataset.badgeName;

    $.post("{% url 'bid_main:badge_toggle_private'  %}", {
      csrfmiddlewaretoken: Cookies.get('csrftoken'),
      badge_name: badge_name,
    })
      .fail(function (error) {
        toastr.error(xhrErrorResponseMessage(error), 'Unable to toggle badge privacy');
      })
      .done(function (response) {
        let $badge = $('li.badge.' + badge_name);
        if (response.is_private) {
          $badge.addClass('private');
        } else {
          $badge.removeClass('private');
        }
      });
  }

  $(function () {
    $("input[data-toggle]").bootstrapToggle();
    $("input[type='checkbox'][data-badge-name]").change(toggle_badge_privacy);
  })
  </script>
{% endblock %}
