
{% extends 'bid_main/confirm_email/base.html' %}
{% block confirm_email_body %}
<h1 class="text-danger">Error confirming your email</h1>
<p>
  There was a database error while we tried to save your confirmed email address: {{ error }}
  
</p>
<p>
  This could mean you tried to change your email address, but someone else already registered
  that address in the mean time. Please contact us at
  <a href="mailto:cloudsupport@blender.org">cloudsupport@blender.org</a> if this error persist.
  
</p>
<p>
  If you want you can try again to see if that helps.
  
</p>
<form action="{% url 'bid_main:confirm-email' %}" method="POST">{% csrf_token %}
  <div class="bid-cta"><a class="btn" href="{% url 'bid_main:index' %}">Back to the dashboard</a>
    <button class="btn btn-success" type="submit">Try again</button>
  </div>
</form>{% endblock %}