
{% extends 'bid_main/confirm_email/base.html' %}
{% load static %}
{% block header %}
{{ super }}
<script src="{% static 'assets_vendor/js/js.cookie.min.js' %}"></script>
<script src="{% static 'assets/js/notifications.min.js' %}"></script>{% endblock %}
{% block confirm_email_body %}
<h1>Welcome back</h1>
<p class="hide-after-post">We are storing your confirmed email, please wait. If nothing happens for more than 5 seconds, press the button below.</p>
<div id="result"></div>
<p class="hide-after-post">
  <button class="enable-after-delay btn" disabled="disabled">Retry</button>
</p>
<p class="show-after-ok" style="display: none">Congratulations, you have successfully confirmed your email address.</p>
<p class="show-after-ok" style="display: none"><a class="btn btn-success" href="{{ next_url }}">Go to {{ next_name }}</a></p>{% endblock %}
{% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  var csrftoken = Cookies.get('csrftoken');
  
  function enable_button() {
  	$('.enable-after-delay').removeAttr('disabled', '').on('click', do_post);
  }
  window.setTimeout(enable_button, 1500);
  
  function do_post() {
  	$('#result').html('');
  
  	$.ajax({
  		type: "POST",
  		url: window.location.href,
  		data: {
  			csrfmiddlewaretoken: csrftoken
  		},
  	})
  	.done(function() {
  		$('.hide-after-post').hide();
  		$('.show-after-ok').show();
  	})
  	.fail(function(err) {
  		var $p = $('<p>')
  			.addClass('text-danger')
  			.text(xhrErrorResponseMessage(err));
  		$('#result').html($p);
  		if (err.responseJSON.reload === true) {
  			// The verification failed, just reload to see it rendered on the GET request.
  			window.location.reload();
  		}
  	})
  	;
  }
  do_post();
</script>{% endblock %}
